:root {
  /* primary */
 --Very-Dark-Blue: hsl(243, 87%, 12%);
 --Desaturated-Blue: hsl(238, 22%, 44%);

 /* accent */
 --Bright-Blue: hsl(224, 93%, 58%);
 --Moderate-Cyan: hsl(170, 45%, 43%);

 /* neutral */
 --Light-Grayish-Blue: hsl(240, 75%, 98%);
 --Light-Gray: hsl(0, 0%, 30%);
}

* {
  box-sizing: border-box;
}

body {
  font: 16px open sans, sans-serif;
  padding: 8px;
  color: var(--Light-Gray);
  height: 100vh;
}

a {
  color: var(--Light-Gray);
}

h1 {
  color: var(--Very-Dark-Blue);
  font-family: raleway, sans-serif;
}

/* ----- heading and navigation ------ */

/* flex */

.main-header,
.nav,
.nav-links {
  display: flex;
  align-items: center;
}


/* design */

.logo {
  height: 32px;
  margin-right: auto;
}

.nav-links a {
  text-decoration: none;
  list-style-type: none;
}

.nav-links li {
  text-align: center;
  padding-left: 16px;
}


/* ----- main ----- */

/* flex */

.article-intro {
  display: flex;
  flex-direction: column;

  margin-top: 24px;
  text-align: center;
}

/* main image */

.illustation-1 {
  max-width: 100%;
  text-align: center;
}

/* main text for article */

.article-intro {
  margin-top: 24px;
}

/* email input  */
.email,
.btn-email {
  height: 44px;
  border-radius: 4px;
  margin-top: 16px;
}

.email {
  height: 44px;

  padding: 0 16px;

  border: 1px solid var(--Very-Dark-Blue);
}

.btn-email {
  background-color: var(--Bright-Blue);
  border-color: var(--Bright-Blue);
  color: white;
  font-weight: 700;
  font-size: 14px;
}

/* article for body  */

.background-mobile {
  height: auto;
  width: 100%;
  margin-top: 34px;
}
